logging:
    level: DEBUG
    format: "%(asctime)s %(levelname)s %(name)s: %(message)s"

region:
    name: "Carrerabach"
    delta_region: 20000
    xmin: 2739000
    xmax: 2746000
    ymin: 1178000
    ymax: 1185000

rain_gauges:
    rg1:
        label: 'BLZ'
        chx: 2720913
        chy: 1116587
    rg2: 
        label: 'GRO'
        chx: 2733018
        chy: 1124089

output:
    singleFiles: False
    POHfiles: False
    POHSingleFiles: False
    roiMap: False
    useOsm: False
    useOsmSingleFiles: False
    visibMap: False
    make_kml_file: False

colorscaleStep: 5