affine
attrs
#certifi==2022.9.24
charset-normalizer
click
click-plugins
cligj
cycler
Fiona
fonttools
GDAL
geopandas
idna
importlib-metadata
kiwisolver
llvmlite
matplotlib
munch
#networkx==2.6.3
numba
numpy
#osmnx==1.1.2
packaging
pandas
Pillow
pyparsing
pyproj
pyshp
python-dateutil
pytz
rasterio
requests
Rtree
scipy
Shapely
six
snuggs
typing_extensions
# urllib3==1.26.12
zipp
